################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bytz.Extensions.DependencyInjection/bin
/Bytz.Extensions.DependencyInjection/obj
/Examples.Extensions.DependencyInjection/bin
/Examples.Extensions.DependencyInjection/obj
/Tests.Extensions.DependencyInjection/bin/Debug/net8.0
/Tests.Extensions.DependencyInjection/bin/Release/net8.0
/Tests.Extensions.DependencyInjection/obj/Debug/net8.0
/Examples.Extensions.DependencyInjection/Examples.Extensions.DependencyInjection.csproj.vspscc
/Examples.Extensions.DependencyInjection/Examples.Extensions.DependencyInjection.csproj.vspscc
/Tests.Extensions.DependencyInjection/Tests.Extensions.DependencyInjection.csproj.vspscc
/.vs/Bytz.Extensions.DependencyInjection
/Bytz.Extensions.DependencyInjection.Moq/bin
/Bytz.Extensions.DependencyInjection.Moq/obj
*.vspscc
/Tests.Extensions.DependencyInjection/obj
